<div class="panel panel-default" ng-controller="wxClassCtrl">
    <div class="panel-heading">类别管理</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="类别名称" ng-model="className">
            </div>
            <div class="col-md-5">
                <button type="submit" class="btn btn-default" ng-show="!isEdit" ng-click="addClass()">添加</button>
                <button type="submit" class="btn btn-default" ng-show="isEdit" ng-click="editClass(id)">修改</button>
                <button type="submit" class="btn btn-default" ng-show="isEdit" ng-click="cancelClass()">取消</button>
            </div>
        </div>
        <br/>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <td>ID</td>
                <td>类别名称</td>
                <td>修改</td>
                <td>删除</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in classItems" ng-class="item.flag==0?'danger':''">
                <td>{{item.id}}</td>
                <td>{{item.classname}}</td>
                <td>
                    <button type="button" class="btn btn-info" ng-click="editShow($index)">修改{{$index}}</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" ng-click="stopClass(item.id)">禁用</button>
                    <button type="button" class="btn btn-danger" ng-click="startClass(item.id)">启用</button>
                </td>

            </tr>
            </tbody>

        </table>
    </div>
</div>