<div class="container-fluid" ng-controller="wxKeyCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">关键字管理</div>
        <div class="panel-body">
            <div class="input-group">
                <input type="search" ng-model="key" class="form-control" placeholder="输入关键字"/>
                <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="search();">搜索
                </button></span>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in items">{{item.id}}-{{item.name}}</li>
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">添加关键字</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="Text input">
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-default">Default</button>
                </div>
            </div>
        </div>
    </div>
</div>