<div class="container-fluid" ng-controller="wxKeyCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">关键字管理</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <select class="form-control" ng-model="classId" ng-options="m.classname for m in classItems">
                        <option value="">-- 请选择 --</option>
                    </select>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="关键字" ng-model="key">
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-default" ng-show="!isEdit" ng-click="addKey()">添加</button>
                    <button type="button" class="btn btn-default" ng-show="isEdit">修改</button>
                    <button type="button" class="btn btn-default" ng-show="isEdit">取消</button>
                </div>
            </div>
            <br/>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>类别名称</td>
                    <td>关键字</td>
                    <td>修改</td>
                    <td>删除</td>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in keyItems" ng-class="item.flag==0?'danger':''">
                    <td>{{item.id}}</td>
                    <td>{{item.classname}}</td>
                    <td>{{item.wxkey}}</td>
                    <td>
                        <button type="button" class="btn btn-info" ng-click="editShow($index)">修改{{$index}}</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" ng-click="stopKey(item.id)">禁用</button>
                        <button type="button" class="btn btn-danger" ng-click="startKey(item.id)">启用</button>
                    </td>

                </tr>
                </tbody>

            </table>
        </div>


    </div>
</div>